*{
    margin:0px;
    padding: 0px;
}

@font-face {
    font-family: "LeagueSpartan-ExtraBold";
    src: url(./fonts/LeagueSpartan/LeagueSpartan-ExtraBold.ttf);
}

@font-face {
    font-family: "LeagueSpartan-ExtraLight";
    src: url(./fonts/LeagueSpartan/LeagueSpartan-ExtraLight.ttf);
}

@font-face {
    font-family: 'LeagueSpartan-Light';
    src: url(./fonts/LeagueSpartan/LeagueSpartan-Light.ttf);
}

body{
    background: #25283D;
}

/*CONTAINER*/
.container{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*PLAYER*/
.player{
    width: 320px;
    height: 550px;

    display: flex;
    flex-direction: column;

    border-radius: 15px;

    background: #98dfeae2;
    box-shadow:  0px 0px 20px 1px #8F3985;

}

    /*ALBUM IMAGE*/
    .image-container{
        width: 90%;
        height: 55%;
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
        
    }

        .image-container img{
            width: 100%;
            height: 100%;

            border-radius: 15px;
        }

    /*SONG INFO*/
    .info{
        width: 90%;
        height: 10%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 1%;
    }

        /*Title*/
        .info .title{
            font-family: "LeagueSpartan-ExtraBold";
            font-size: 28px;

            color: #8F3985
        }

        /*Artist*/
        .info .artist{
            font-family: "LeagueSpartan-ExtraLight";
            font-size: 24px;
            color: #8F3985;
        }

    /*PROGRESS BAR CONTAINER*/
    .progress-container{
        width: 90%;
        height: 20%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
        margin-top: 5%;
       
    }
        .time-progress{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            margin-bottom: 1%;
        }

        .time-progress span{
            font-family: 'LeagueSpartan-Light';
            font-size: 15px;
            color:#8F3985;
        }

        .progress .bar{
            width: 100%;
            background: transparent;
            cursor: pointer;
            outline: none;
            -ms-appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
        }

            .progress .bar::-webkit-slider-runnable-track{
                height: 70%;
                border-radius: 3px;
                background: #07BEB8;
            }

            .progress .bar::-moz-range-track{
                height: 0.3rem;
                background: #07BEB8;
            }

            .progress .bar::-ms-track{
                height: 0.3rem;
                background: #07BEB8;  
            }

            .progress .bar::-webkit-slider-thumb{
                appearance: none;
                width: 0.6rem;
                background:#8F3985;
                height: 0.6rem;
                border-radius: 5px;
                margin-top: -0.15rem;
            }


    /*PLAYER CONTROLS*/
    .controls{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 30%;
        margin-left: 9%;
        margin-right: 9%;
        margin-bottom: 9%;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

        .controls .prev{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border-color: transparent;
            background: #EFD9CE;
            box-shadow:  2px 2px 2px #cbb8af,
                        -2px -2px 2px #fffaed;
        }

        .controls .prev:active{
            border-radius: 50%;
            background: #EFD9CE;
            box-shadow: inset 10px 10px 20px #cbb8af,
                        inset -10px -10px 20px #fffaed;
        }

        .controls .prev:hover #button-prev{
            color:#8F3985;
        }

            #button-prev{
                width: 60%;
                height: 60%;
                color:#25283D;
            }

        .controls .play{
            display: flex;
            width: 85px;
            height: 85px;
            align-items: center;
            justify-content: center;
            border-color: transparent;
            border-radius: 50%;
            background: #EFD9CE;
            box-shadow:  2px 2px 2px #cbb8af,
                        -2px -2px 2px #fffaed;

        }

        .controls .play:active{
            border-radius: 50%;
            background: #EFD9CE;
            box-shadow: inset 10px 10px 20px #cbb8af,
                        inset -10px -10px 20px #fffaed;
        }

        .controls .play:hover #button-play{
            color:#8F3985;
        }

            #button-play{
                width: 61%;
                height: 60%;
                margin-left: 10%;
                color: #07BEB8;
            }


        .controls .next{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border-color: transparent;
            background: #EFD9CE;
            box-shadow:  2px 2px 2px #cbb8af,
                        -2px -2px 2px #fffaed;
        }

        .controls .next:active{
            border-radius: 50%;
            background: #EFD9CE;
            box-shadow: inset 10px 10px 20px #cbb8af,
                        inset -10px -10px 20px #fffaed;
        }

        .controls .next:hover #button-next{
            color:#8F3985;
        }


            #button-next{
                width: 60%;
                height: 60%;
                transform: rotate(180deg);
                color:#25283D;
                
            }